<?xml version="1.0"?>
<robot name="smart_tugcar" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include TurtleBot3 Waffle URDF -->
  <xacro:include filename="$(find tugcar_description)/urdf/robot_car/robot_car.urdf.xacro"/>

  <!-- Include OpenMANIPULATOR URDF -->
  <xacro:include filename="$(find tugcar_description)/urdf/robot_arm/manipulator.urdf.xacro"/>

  <!-- Base fixed joint -->
  <joint name="base_link" type="fixed">
    <origin xyz="-0.092 0.0 0.091" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>

</robot>

