<?xml version="1.0" ?>
<robot name="vuasrl_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find vuasrl_arm_description)/urdf/materials.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find vuasrl_arm_description)/urdf/vuasrl_arm.gazebo.xacro" />

  <!-- Import Transmission -->
  <xacro:include filename="$(find vuasrl_arm_description)/urdf/vuasrl_arm.transmission.xacro" />

  <!-- Import URDF -->
  <xacro:include filename="$(find vuasrl_arm_description)/urdf/vuasrl_arm.xacro" />

  <!-- World -->
  <link name="world"/>

  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link1"/>
  </joint>

</robot>
