<launch>

<rosparam file="$(find tugcar_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="tugcar" args="join_01_position_controller joint_02_position_controller joint_03_position_controller joint_04_position_controller joint_05_position_controller left_slider_position_controller right_slider_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/tugcar/joint_states"/>
</node>

</launch>