<?xml version="1.0" ?>
<model>
    <name>Ouster ROS</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jorge Beltran</name>
        <email>jbeltran@ing.uc3m.es</email>
    </author>
    <description>Model of Ouster OS0-32(ROS) </description>
</model>
