<launch>
  <rosparam file="$(find tugcar_simulations)/config/gazebo_controller.yaml" command="load"/>
  <rosparam file="$(find tugcar_simulations)/config/controller.yaml" command="load"/> 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/smart_tugcar" args="joint_state_controller
                    joint1_position_controller
                    joint2_position_controller
                    joint3_position_controller
                    joint4_position_controller
                    gripper_position_controller
                    gripper_sub_position_controller " />

  <include file="$(find tugcar_simulations)/launch/tugcar_gazebo_world.launch" />
                    
</launch>
