<launch>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find vuasrl_arm_description)/launch/urdf.rviz"/>
    <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find vuasrl_arm_description)/urdf/vuasrl_arm.urdf.xacro'"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
