<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/> 
  
  <arg name="world_name" default="airport_world.world"/>
  <arg name="world_file" default="$(find tugcar_description)/models/$(arg world_name)"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
 <group ns="smart_tugcar"> 
   <param name="robot_description" command="$(find xacro)/xacro '$(find tugcar_description)/urdf/robot_arm/robotis_tugcar.urdf.xacro'"/>
       
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_world_broadcaster" args="0 0 0 0 0 0 world odom" />

  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model smart_tugcar -param robot_description"/>
 </group>
  </launch>
    
  
