<?xml version="1.0" ?>
<robot name="tugcar" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Begin include -->
   <xacro:include filename="$(find tugcar_description)/urdf/links_joints.xacro" />
   <!-- END include -->

<!--Begin robot description -->

   <xacro:m_link_mesh name="base_link"
               origin_rpy="0 0 0" origin_xyz="-0.03938896617200097 -1.2967475254059896e-08 0.029822081428879356"
               collision_rpy="0 0 0" collision_xyz="0 0 0"
               mass="4.927881110352107"
               ixx="0.016525" ixy="0.0" ixz="0.005358"
               iyy="0.082056" iyz="-0.0"
               izz="0.093665"
               meshfile="package://tugcar_description/meshes/base_link.stl"
               meshscale="0.001 0.001 0.001" />

   <xacro:continuous_n name="joint_01" type="continuous"
                  axis_xyz="0.0 -1.0 0.0"
                  origin_rpy="0 0 0" origin_xyz="-0.15 -0.11 0.025"
                  parent="base_link" child="right_wheel_1"/>
               
   <xacro:m_link_mesh name="right_wheel_1"
               origin_rpy="0 0 0" origin_xyz="-6.022959908591474e-15 -0.0050000000000000044 2.42861286636753e-17"
               collision_rpy="0 0 0" collision_xyz="0.15 0.11 -0.025"
               mass="0.0637159488596124"
               ixx="3.6e-05" ixy="0.0" ixz="0.0"
               iyy="7.2e-05" iyz="0.0"
               izz="3.6e-05"
               meshfile="package://tugcar_description/meshes/right_wheel_1.stl"
               meshscale="0.001 0.001 0.001" />

   <xacro:continuous_n name="joint_02" type="continuous"
                  axis_xyz="0.0 1.0 0.0"
                  origin_rpy="0 0 0" origin_xyz="-0.15 0.11 0.025"
                  parent="base_link" child="left_wheel_1"/>

   <xacro:m_link_mesh name="left_wheel_1"
               origin_rpy="0 0 0" origin_xyz="5.9674487573602164e-15 0.005000000000000018 -6.245004513516506e-17"
               collision_rpy="0 0 0" collision_xyz="0.15 -0.11 -0.025"
               mass="0.0637159488596124"
               ixx="3.6e-05" ixy="0.0" ixz="-0.0"
               iyy="7.2e-05" iyz="0.0"
               izz="3.6e-05"
               meshfile="package://tugcar_description/meshes/left_wheel_1.stl"
               meshscale="0.001 0.001 0.001" />
               
   <xacro:fix_n name="right_jcaster" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.15 0.0 0.0"
                parent="base_link" child="right_caster_1"/>

   <xacro:m_link_mesh name="right_caster_1"
               origin_rpy="0 0 0" origin_xyz="0.0 -0.05 -0.009374999999999993"
               collision_rpy="0 0 0" collision_xyz="-0.15 -0.0 -0.0"
               mass="0.2568906492779154"
               ixx="4.2e-05" ixy="0.0" ixz="-0.0"
               iyy="4.2e-05" iyz="-0.0"
               izz="6.4e-05"
               meshfile="package://tugcar_description/meshes/right_caster_1.stl"
               meshscale="0.001 0.001 0.001" />   
               
   <xacro:fix_n name="left_jcaster" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.15 0.0 0.0"
                parent="base_link" child="left_caster_1"/>

   <xacro:m_link_mesh name="left_caster_1"
               origin_rpy="0 0 0" origin_xyz="0.0 0.05 -0.009374999999999993"
               collision_rpy="0 0 0" collision_xyz="-0.15 -0.0 -0.0"
               mass="0.2568906492779154"
               ixx="4.2e-05" ixy="0.0" ixz="-0.0"
               iyy="4.2e-05" iyz="-0.0"
               izz="6.4e-05"
               meshfile="package://tugcar_description/meshes/left_caster_1.stl"
               meshscale="0.001 0.001 0.001" />   

   <xacro:fix_n name="lidar_j" type="fixed"
                origin_rpy="0 0 0" origin_xyz="-0.15 0.0 0.1"
                parent="base_link" child="lidar_1"/>
                
   <xacro:m_link_mesh name="lidar_1"
               origin_rpy="0 0 0" origin_xyz="-2.7755575615628914e-17 -1.0141114778754762e-17 0.010078564780385421"
               collision_rpy="0 0 0" collision_xyz="0.15 -0.0 -0.1"
               mass="1.7600464950545989"
               ixx="0.001629" ixy="-0.0" ixz="-0.0"
               iyy="0.001629" iyz="0.0"
               izz="0.003142"
               meshfile="package://tugcar_description/meshes/lidar_1.stl"
               meshscale="0.001 0.001 0.001" />
   
   <xacro:joint_n name="joint_03" type="revolute"
                  axis_xyz="0.0 0.0 1.0"
                  origin_rpy="0 0 0" origin_xyz="0.1 0.0 0.035"
                  parent="base_link" child="arm_link1_v1_1"
                  limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />  
                                                    
   <xacro:m_link_mesh name="arm_link1_v1_1"
               origin_rpy="0 0 0" origin_xyz="0.0 0.0 0.020115052438651124"
               collision_rpy="0 0 0" collision_xyz="-0.15 -0.0 -0.035"
               mass="0.045098090524002"
               ixx="2e-05" ixy="-0.0" ixz="-0.0"
               iyy="1.7e-05" iyz="0.0"
               izz="1.5e-05"
               meshfile="package://tugcar_description/meshes/arm_link1_v1_1.stl"
               meshscale="0.001 0.001 0.001" />                

   <xacro:joint_n name="joint_04" type="revolute"
                  axis_xyz="0.0 1.0 0.0"
                  origin_rpy="0 0 0" origin_xyz="0.0 -0.01 0.035"
                  parent="arm_link1_v1_1" child="arm_set_v1_1"
                  limit_e="1000" limit_l="0.0" limit_u="0.75" limit_v="0.5" />  
                   
   <xacro:m_link_mesh name="arm_set_v1_1"
               origin_rpy="0 0 0" origin_xyz="0.0 0.009999999999999997 0.07023916163853255"
               collision_rpy="0 0 0" collision_xyz="-0.15 0.01 -0.07"
               mass="0.2146877443306135"
               ixx="0.000354" ixy="0.0" ixz="0.0"
               iyy="0.000357" iyz="0.0"
               izz="5.5e-05"
               meshfile="package://tugcar_description/meshes/arm_set_v1_1.stl"
               meshscale="0.001 0.001 0.001" />  

   <xacro:fix_n name="rigid_axle1" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.0 -0.02 0.035"
                parent="arm_link1_v1_1" child="arm_axle1_v2_1"/>  
                   
   <xacro:m_link_mesh name="arm_axle1_v2_1"
               origin_rpy="0 0 0" origin_xyz="0.0 0.02 0.0"
               collision_rpy="0 0 0" collision_xyz="-0.15 0.02 -0.07"
               mass="0.013292405642737589"
               ixx="2e-06" ixy="0.0" ixz="0.0"
               iyy="1e-06" iyz="0.0"
               izz="2e-06"
               meshfile="package://tugcar_description/meshes/arm_axle1_v2_1.stl"
               meshscale="0.001 0.001 0.001" />   

   <xacro:fix_n name="rigid_set1" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.0 0.01 0.135"
                parent="arm_set_v1_1" child="arm_link2_v2_1"/>                 
 
   <xacro:m_link_mesh name="arm_link2_v2_1"
               origin_rpy="0 0 0" origin_xyz="0.0 6.680329842389699e-18 0.020115052438651138"
               collision_rpy="0 0 0" collision_xyz="-0.15 -0.0 -0.205"
               mass="0.04509809052400196"
               ixx="2e-05" ixy="0.0" ixz="0.0"
               iyy="1.7e-05" iyz="0.0"
               izz="1.5e-05"
               meshfile="package://tugcar_description/meshes/arm_link2_v2_1.stl"
               meshscale="0.001 0.001 0.001" />  
                
   <xacro:joint_n name="joint_05" type="revolute"
                  axis_xyz="0.0 1.0 0.0"
                  origin_rpy="0 0 0" origin_xyz="0.0 -0.01 0.035"
                  parent="arm_link2_v2_1" child="arm_set2_v1_1"
                  limit_e="1000" limit_l="0.0" limit_u="0.75" limit_v="0.5" />  
                                  
   <xacro:m_link_mesh name="arm_set2_v1_1"
               origin_rpy="0 0 0" origin_xyz="0.07023916163853253 0.009999999999999992 5.551115123125783e-17"
               collision_rpy="0 0 0" collision_xyz="-0.15 0.01 -0.24"
               mass="0.2146877443306135"
               ixx="5.5e-05" ixy="-0.0" ixz="0.0"
               iyy="0.000357" iyz="-0.0"
               izz="0.000354"
               meshfile="package://tugcar_description/meshes/arm_set2_v1_1.stl"
               meshscale="0.001 0.001 0.001" />  

   <xacro:fix_n name="rigid_axle2" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.0 -0.02 0.035"
                parent="arm_link2_v2_1" child="arm_axle2_v1_1"/>    

   <xacro:m_link_mesh name="arm_axle2_v1_1"
               origin_rpy="0 0 0" origin_xyz="0.0 0.02 -2.7755575615628914e-17"
               collision_rpy="0 0 0" collision_xyz="-0.15 0.02 -0.24"
               mass="0.013292405642737589"
               ixx="2e-06" ixy="-0.0" ixz="0.0"
               iyy="1e-06" iyz="-0.0"
               izz="2e-06"
               meshfile="package://tugcar_description/meshes/arm_axle2_v1_1.stl"
               meshscale="0.001 0.001 0.001" />  

   <xacro:fix_n name="rigid_set2" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.135 0.01 0.0"
                parent="arm_set2_v1_1" child="gripper_set_v2_1"/>   
                
   <xacro:m_link_mesh name="gripper_set_v2_1"
               origin_rpy="0 0 0" origin_xyz="0.0180645606481612 -1.5720092607937034e-11 5.551115123125783e-17"
               collision_rpy="0 0 0" collision_xyz="-0.285 -0.0 -0.24"
               mass="0.08860286699530373"
               ixx="7.5e-05" ixy="-0.0" ixz="0.0"
               iyy="1.6e-05" iyz="0.0"
               izz="7.5e-05"
               meshfile="package://tugcar_description/meshes/gripper_set_v2_1.stl"
               meshscale="0.001 0.001 0.001" />   
                                          
   <xacro:joint_n name="left_slider" type="prismatic"
                  axis_xyz="0.0 1.0 -0.0"
                  origin_rpy="0 0 0" origin_xyz="0.015 0.04 0.0"
                  parent="gripper_set_v2_1" child="gripper_llink_v3_1"
                  limit_e="100" limit_l="0.0" limit_u="0.0" limit_v="100" />    
                  
   <xacro:m_link_mesh name="gripper_llink_v3_1"
               origin_rpy="0 0 0" origin_xyz="0.01168384972971892 6.938893903907228e-18 1.2370660051885807e-13"
               collision_rpy="0 0 0" collision_xyz="-0.3 -0.04 -0.24"
               mass="0.0026186137577415146"
               ixx="0.0" ixy="-0.0" ixz="0.0"
               iyy="0.0" iyz="0.0"
               izz="0.0"
               meshfile="package://tugcar_description/meshes/gripper_llink_v3_1.stl"
               meshscale="0.001 0.001 0.001" />  
               
   <xacro:fix_n name="rgid_left" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.027 0.0 0.0"
                parent="gripper_llink_v3_1" child="gripper_left_v3_1"/>   
                
   <xacro:m_link_mesh name="gripper_left_v3_1"
               origin_rpy="0 0 0" origin_xyz="0.02175320681597248 -0.00500550499347583 1.965094753586527e-14"
               collision_rpy="0 0 0" collision_xyz="-0.327 -0.04 -0.24"
               mass="0.003832390408952286"
               ixx="0.0" ixy="0.0" ixz="0.0"
               iyy="1e-06" iyz="-0.0"
               izz="1e-06"
               meshfile="package://tugcar_description/meshes/gripper_left_v3_1.stl"
               meshscale="0.001 0.001 0.001" />  


   <xacro:joint_n name="right_slider" type="prismatic"
                  axis_xyz="0.0 1.0 -0.0"
                  origin_rpy="0 0 0" origin_xyz="0.015 -0.04 0.0"
                  parent="gripper_set_v2_1" child="gripper_rlink_v3_1"
                  limit_e="100" limit_l="0.0" limit_u="0.0" limit_v="100" />   
      
   <xacro:m_link_mesh name="gripper_rlink_v3_1"
               origin_rpy="0 0 0" origin_xyz="0.01168384972971892 0.0 -1.7135440288917891e-10"
               collision_rpy="0 0 0" collision_xyz="-0.3 0.04 -0.24"
               mass="0.002618613757741515"
               ixx="0.0" ixy="0.0" ixz="0.0"
               iyy="0.0" iyz="0.0"
               izz="0.0"
               meshfile="package://tugcar_description/meshes/gripper_rlink_v3_1.stl"
               meshscale="0.001 0.001 0.001" /> 

   <xacro:fix_n name="rigid_right" type="fixed"
                origin_rpy="0 0 0" origin_xyz="0.027 0.0 0.0"
                parent="gripper_rlink_v3_1" child="gripper_right_v2_1"/>   
                
   <xacro:m_link_mesh name="gripper_right_v2_1"
               origin_rpy="0 0 0" origin_xyz="0.021753206869349173 0.005005505130163443 -3.261011460864438e-09"
               collision_rpy="0 0 0" collision_xyz="-0.327 0.04 -0.24"
               mass="0.0038323903638238137"
               ixx="0.0" ixy="-0.0" ixz="-0.0"
               iyy="1e-06" iyz="0.0"
               izz="1e-06"
               meshfile="package://tugcar_description/meshes/gripper_right_v2_1.stl"
               meshscale="0.001 0.001 0.001" />  
               
   <!--END robot description -->
   <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      </plugin>
   </gazebo>

</robot>
